In [295]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [296]:
df=pd.read_csv(r"C:\21761A0572\PlayTennis.csv")

In [297]:
df

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [298]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()
df['Outlook']=le.fit_transform(df['Outlook'])
df['Outlook']

0     2
1     2
2     0
3     1
4     1
5     1
6     0
7     2
8     2
9     1
10    2
11    0
12    0
13    1
Name: Outlook, dtype: int32

In [299]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()
df['Temperature']=le.fit_transform(df['Temperature'])
df['Temperature']

0     1
1     1
2     1
3     2
4     0
5     0
6     0
7     2
8     0
9     2
10    2
11    2
12    1
13    2
Name: Temperature, dtype: int32

In [300]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()
df['Humidity']=le.fit_transform(df['Humidity'])
df['Humidity']

0     0
1     0
2     0
3     0
4     1
5     1
6     1
7     0
8     1
9     1
10    1
11    0
12    1
13    0
Name: Humidity, dtype: int32

In [301]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()
df['Wind']=le.fit_transform(df['Wind'])
df['Wind']

0     1
1     0
2     1
3     1
4     1
5     0
6     0
7     1
8     1
9     1
10    0
11    0
12    1
13    0
Name: Wind, dtype: int32

In [302]:
df

    Outlook  Temperature  Humidity  Wind Play Tennis
0         2            1         0     1          No
1         2            1         0     0          No
2         0            1         0     1         Yes
3         1            2         0     1         Yes
4         1            0         1     1         Yes
5         1            0         1     0          No
6         0            0         1     0         Yes
7         2            2         0     1          No
8         2            0         1     1         Yes
9         1            2         1     1         Yes
10        2            2         1     0         Yes
11        0            2         0     0         Yes
12        0            1         1     1         Yes
13        1            2         0     0          No

In [303]:
x=df.drop('Play Tennis',axis=1)

In [304]:
x

    Outlook  Temperature  Humidity  Wind
0         2            1         0     1
1         2            1         0     0
2         0            1         0     1
3         1            2         0     1
4         1            0         1     1
5         1            0         1     0
6         0            0         1     0
7         2            2         0     1
8         2            0         1     1
9         1            2         1     1
10        2            2         1     0
11        0            2         0     0
12        0            1         1     1
13        1            2         0     0

In [305]:
y=df['Play Tennis']

In [306]:
y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Play Tennis, dtype: object

In [307]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.12,random_state=100)

In [308]:
x_train.shape

(12, 4)

In [309]:
y_train

5      No
1      No
9     Yes
4     Yes
6     Yes
2     Yes
0      No
10    Yes
7      No
3     Yes
13     No
8     Yes
Name: Play Tennis, dtype: object

In [310]:
y_test

11    Yes
12    Yes
Name: Play Tennis, dtype: object

In [311]:
x_train

    Outlook  Temperature  Humidity  Wind
5         1            0         1     0
1         2            1         0     0
9         1            2         1     1
4         1            0         1     1
6         0            0         1     0
2         0            1         0     1
0         2            1         0     1
10        2            2         1     0
7         2            2         0     1
3         1            2         0     1
13        1            2         0     0
8         2            0         1     1

In [312]:
x_test

    Outlook  Temperature  Humidity  Wind
11        0            2         0     0
12        0            1         1     1

In [313]:
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(x_train, y_train)

GaussianNB()

In [314]:
y_pred = classifier.predict(x_test)

In [315]:
y_pred

array(['Yes', 'Yes'], dtype='<U3')

In [316]:
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test, y_pred)

In [317]:
cm

array([[2]], dtype=int64)

In [318]:
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 100.0

In [319]:
from sklearn.tree import DecisionTreeClassifier

In [320]:
x=[[1,2,2,1]]
y_pred=classifier.predict(x)
print("play tennis",y_pred)

play tennis ['Yes']

C:\Users\ML Lab\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [321]:
x=[[2,2,0,1]]
y_pred=classifier.predict(x)
print("play tennis:",y_pred)

play tennis: ['No']

C:\Users\ML Lab\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(